
$large-screen-min: 750px;
$small-screen-max: 450px;

.App {
  text-align: center;
  background-color: cornsilk;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App2 {
  text-align: center;
  background-color: lightgrey;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Content {
  width: 80%;
  margin-left: 10%;
}

.row {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.grid-item {
  padding: 0.4rem;
  width: 30%;
  @media (min-width: $small-screen-max) and (max-width: $large-screen-min) {
    width: 45%;
  }
  @media (max-width: $small-screen-max) {
    width: 80%;
  }

}